/* ------------ Roçes -----------*/

.roles {
  background: url("../img/backgrounds/roles.png") fixed no-repeat;
  background-size: cover;
}

.protagonists {
  background: url("../img/backgrounds/protagonists.png") fixed no-repeat;
  background-size: cover;
}

.supporters {
  background: url("../img/backgrounds/supportings.png") fixed no-repeat;
  background-size: cover;
}

.villains {
  background: url("../img/backgrounds/villains.png") fixed no-repeat;
  background-size: cover;
}

/* ------------ Dimensions -----------*/
.dimensions {
  background: url("../img/backgrounds/dimensions.png") fixed no-repeat;
  background-size: cover;
}

.c137 {
  background: url("../img/backgrounds/c137.png") fixed no-repeat;
  background-size: cover;
}

.earth {
  background: url("../img/backgrounds/earth.png") fixed no-repeat;
  background-size: cover;
}

.nuptia {
  background: url("../img/backgrounds/nuptia.png") fixed no-repeat;
  background-size: cover;
}

/* ------------ Categories -----------*/
.categories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #1a1a1a 2px solid;
  border-bottom: #1a1a1a 5px solid;
}

.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px calc(10px + 10vw);
}

.card-margin {
  margin: 40px 0px;
}

.categories-title {
  margin: 40px 0px 20px 0px;
}

.categories-card:hover {
  transform: scale(1.05, 1.05);
}

.categories-text {
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 2px 0px #1a1a1a;
  text-transform: capitalize;
}
