/* globals */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #222831;
  --foreground-color: #393e46;
  --common-text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--common-text-color);
  font-family: "roboto";
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.23);
  z-index: 10;
}

.navlink {
  padding: 5px 30px;
  text-decoration: none;
  color: var(--common-text-color);
  font-weight: bold;
}

.navlink:hover {
  background-color: var(--common-text-color);
  color: #1a1a1a;
  border-radius: 15px;
}

.sobrenos {
  padding: 5px 30px;
}
