.nome {
  font-family: Roboto;
}
.status {
  font-family: Roboto;
}
/* -----------------------*/ 

.profile-header {
        display: flex;
        align-items: flex-start; /* Alinha os itens ao topo */
        border-bottom: 2px solid #ddd;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .profile-header img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-right: 20px;
        margin-top: 80px; /* Mantém a margem superior na imagem */
    }
    .profile-header div {
        margin-top: 80px; /* Alinha os textos à altura da imagem */
    }
.profile-header h1 {
  margin: 0;
  font-size: 28px;
}
.profile-header p {
  margin: 5px 0;
  color: #666;
}