.nome {
  font-size: x-large;
  font-weight: bold;
}

.status {
  color: aliceblue;
  padding: 2px;
  margin-left: 5px;
  border-radius: 10px;
}
/* -----------------------*/

.profile-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  background: url("../img/rick-and-morty-background-7.webp") fixed no-repeat;
  background-size: cover;
}

.charimg {
  border-radius: 50%;
}
.info {
  margin-left: 40px;
}
.card {
  display: flex;
  flex-direction: row;
  background-color: #222831ce;
  color: aliceblue;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  border-radius: 30px;
}
/* status */
.alive {
  background-color: green;
}
.dead {
  background-color: red;
}
